body {
  background-color: papayawhip; 
  margin: 0 auto;
}

.overflowScroll {
  overflow: scroll;
}

.column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    height: 50%;
    max-height: 50%;
  }

  .pie {
    height: 5%;
    background-color: blue;
  }