body {
  background-color: #f15145; 
  margin: 0 auto;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

img{
  max-width: min-content;
  max-height: min-content;
}

.overflowScroll {
  overflow: scroll;
}

.column {
    float: left;
    width: 25%;
    height: 550px;
    max-height: 100%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    height: 50%;
    max-height: 50%;
  }

  .fijarDerecha{
    float: right;
    position: fixed;
  }

  .pie {
    height: 5%;
    width: 100%;
    background-color: blue;
  }